.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  background: #efefef;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
